.feature-heading {
  text-align: center;
  margin-bottom: 2em;
}
.feature-div {
  margin-top: 6em;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.card-image {
  height: 300px;
  object-fit: cover;
}
.feature {
  margin-top: 3em;
}
.feature-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
