body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(239, 239, 239) !important;
}
.bg-image {
  width: 100vw;
  height: 550px;
  background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
    url("../images/home-page-bg.jpg");
  background-size: cover;
  background-position: center center;
}
.main-heading-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  font-family: sans-serif;
}
.main-heading {
  font-weight: bolder;

  font-size: 3.5em;
  color: white;
}
.sub-heading {
  color: white;
  font-size: 1em;
}
.home-page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1em;
}
.home-page-button button:nth-child(2) {
  margin-left: 1em;
}
.iframe-video {
  width: 100%;
  height: 400px;
}
