body {
  background-image: url("https://img3.goodfon.com/wallpaper/nbig/a/af/ruki-znaki-steny.jpg");
  background-size: cover;
}
.loader {
  border: 10px solid rgb(199, 231, 251); /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 0.5em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-image-section,
.image-upload-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.launch-container {
  display: flex;
  align-items: center;
  margin-top: 7em;
  flex-direction: column;
}
.launch-container div {
  padding: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.image-upload-div {
  width: 33em;
  height: 23em;
  border: dashed;
  border-color: rgb(152, 211, 253);
  background-color: rgb(199, 231, 251);
}
.no-image-section {
  width: 28em;
  height: 23em;
  background-color: rgb(234, 234, 234);
}
.warning-icon {
  font-size: 3em !important;
}
.image-preview-heading {
  text-align: center;
}
.image-section,
.logo-on-launchpage,
.predict-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.launch-page-logo {
  width: 80px;
  height: 50px;
}

.img-preview {
  width: 28em;
  height: 23em;
  position: relative;
  border: 5px solid #f8f8f8;
  background-color: white;
}

.img-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.launch-subDiv,
.positions-subDiv {
  background-color: rgb(231, 246, 250) !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.positions-div {
  margin-top: 3em;
  margin-bottom: 3em;
}
.positions-subDiv {
  padding: 2em;
}
.positions-heading {
  text-align: center;
}
.row-1,
.row-2,
.row-3 {
  padding: 1em;
}
.row-1 {
  margin-top: 2em;
}
.col-lg-5 .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.no-idea {
  margin-bottom: 1em;
}
