html {
  scroll-behavior: smooth;
}

.navbar-component {
  background-color: rgb(231, 246, 250) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.logo {
  width: 65px;
  height: 40px;
}
.nav-link,
.navbar-text {
  font-weight: bold !important;
}
.dropdown-button {
  background-color: rgb(231, 246, 250) !important;

  font-weight: bold !important;
}
.nav-link {
  color: black !important;
}
.user-full-name {
  margin-left: 0.3em;
}
