<link
  href="{{url_for('static',filename='css/contact.css')}}"
  rel="stylesheet"
/>
<div class="container contact-us-div">
    <div class="row">
        <div class="col-lg-6 contact-us-image-div">
<img src="../static/images/contact-us.jpg" alt="contact-us"/>
        </div>
        <div class="col-lg-6">
  <div class="contact-form-wrapper d-flex justify-content-center">
    <form action="#" class="contact-form">
      <h5 class="title">Contact us</h5>
      <p class="description">
        Feel free to contact us if you need any assistance, any help or another
        question.
      </p>
      <div>
        <input
          type="text"
          class="form-control rounded border-white mb-3 form-input"
          id="name"
          placeholder="Name"
          required
        />
      </div>
      <div>
        <input
          type="email"
          class="form-control rounded border-white mb-3 form-input"
          placeholder="Email"
          required
        />
      </div>
      <div>
        <textarea
          id="message"
          class="form-control rounded border-white mb-3 form-text-area"
          rows="5"
          cols="30"
          placeholder="Message"
          required
        ></textarea>
      </div>
      <div class="submit-button-wrapper">
        <input type="submit" value="Send" />
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
