<!-- <html>
  <link
    href="{{url_for('static',filename='css/intro.css')}}"
    rel="stylesheet"
  />

  <body>
    <h1>INTRODUCTION</h1>
    <h1>
      <span> Hand Gesture </span> <span> recognition system </span>
      <span> provides us </span> <span> an innovative,</span>
      <span>natural,</span> <span> user friendly </span>
      <span> way of interaction </span> <span> with the computer</span>
      <span> which is more </span> <span> familiar to the </span>
      <span>human beings. </span> <span> In our project, </span>
      <span> the hand region </span> <span> is extracted from </span>
      <span> the background </span> <span> by using</span>
      <span> Region of intrest. </span> <span> Then, </span>
      <span> we will be </span> <span>predicting the labels </span>
      <span> based on the </span> <span> CNN trained model weights </span>
      <span> of hand gestures </span> <span> using that predicted labels</span>
      <span> we apply if conditions </span>
      <span> to control some of the actions </span> <span>like </span>
      <span>reshaping , blur, flip of the given image.</span>
    </h1>
    <!--Brian Tracy-->

    <div class="header">
      <div
        style="
          width: 50%;
          float: left;
          font-size: 2vw;
          text-align: left;
          color: #c1e2d9;
          padding-top: 1%;
          padding-left: 5%;
        "
      >
        Hand Gesture System
      </div>
      <div class="topnav-right" style="padding-top: 0.5%">
        <a class="active" href="{{ url_for('home')}}">Home</a>
        <a class="active" href="{{ url_for('intro')}}"><u>Introduction</u></a>
        <a class="active" href="{{ url_for('image1')}}">Launch</a>
      </div>
    </div>
  </body>
</html> -->
