{% extends "./base.html" %} {% block base %} {%include "./navbar.html" %}
<link href="{{url_for('static',filename='css/launch.css')}}" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="launch-container">
  <div class="container card card-container">
    <marquee
      ><h4>Tranform your images using Hand Gestures. Try it buddy!</h4></marquee
    >
    <div class="row">
      <div class="col-lg-6 image-upload-div">
        <div class="logo-on-launchpage">
          <img src="../static/images/Logo.png" class="launch-page-logo" />
          <h2>Radiology Assistant</h2>
        </div>
        <h4>Choose file to upload</h4>
        <div class="upload-file-form">
          <form
            action="http://localhost:5000/"
            id="upload-file"
            method="post"
            enctype="multipart/form-data"
          >
            <input
              type="file"
              name="image"
              id="imageUpload"
              accept=".png, .jpg, .jpeg,.pdf"
              class="image-upload"
            />
          </form>
        </div>
      </div>
      <div class="col-lg-6 no-image-section">
        <i
          class="fa fa-exclamation-triangle warning-icon"
          aria-hidden="true"
        ></i>
        <h4>No Image Selected</h4>
      </div>

      <div class="col-lg-6 image-section img-preview" style="display: none">
        <div id="imagePreview"></div>
      </div>
      <div class="col-lg-12 predict-button">
        <button
          type="button"
          class="btn btn-info btn-lg"
          style="display: none"
          id="btn-predict"
        >
          Start!
        </button>
        <div class="loader" style="display: none"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
  src="{{ url_for('static', filename='js/launch.js') }}"
  type="text/javascript"
></script>

{%endblock%}
