{% extends "./base.html" %} {% block base %}

<link
  href="{{url_for('static',filename='css/teammembers.css')}}"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="team-members-div">
  <h1 class="team-members-heading">Our Team</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="justify-content-md-center">
          <div class="card cardBorderCorners darkCard">
            <div class="card-body">
              <img
                class="proPic proDark card-img rounded-circle"
                src="../static/images/teammember-1.jpg"
                alt="Profile Pic"
              />
              <div class="about-team-member">
                <h5 class="darkTitle card-title">Kanmani K</h5>
                <h6 class="darkSubTitle card-subtitle">Final Year CSE</h6>
              </div>
              <p class="darkMail card-text">
                <span class="darkMailText rounded"
                  >kanmanikcse2019@citchennai.net</span
                >
              </p>
            </div>

            <div class="social">
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <a href="https://github.com/kanmani-kamalanathan"
                    ><i class="fa fa-github fa-2x" style="color: #a99ae0"></i
                  ></a>
                </div>
                <div class="col-sm-4 col-md-4">
                  <a
                    href="https://www.linkedin.com/in/kanmani-kamalanathan-4135261a9/"
                    ><i
                      class="col fa fa-linkedin fa-2x"
                      style="color: #a99ae0"
                    ></i
                  ></a>
                </div>
                <div class="col-sm-4 col-md-4">
                  <i
                    class="col fa fa-instagram fa-2x"
                    style="color: #a99ae0"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="justify-content-md-center">
          <div class="card cardBorderCorners darkCard">
            <div class="card-body">
              <img
                class="proPic proDark card-img rounded-circle"
                src="../static/images/teammember-2.jpg"
                alt="Profile Pic"
              />
              <div class="about-team-member">
                <h5 class="darkTitle card-title">Anju Priya V</h5>
                <h6 class="darkSubTitle card-subtitle">Final year CSE</h6>
              </div>
              <p class="darkMail card-text">
                <span class="darkMailText rounded"
                  >anjuvcse2019@citchennai.net</span
                >
              </p>
            </div>

            <div class="social">
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <a href="https://github.com/anjupriya-v">
                    <i class="fa fa-github fa-2x" style="color: #a99ae0"></i>
                  </a>
                </div>
                <div class="col-sm-4 col-md-4">
                  <a href="https://www.linkedin.com/in/anju-priya-v-90169a18b">
                    <i
                      class="col fa fa-linkedin fa-2x"
                      style="color: #a99ae0"
                    ></i>
                  </a>
                </div>
                <div class="col-sm-4 col-md-4">
                  <i
                    class="col fa fa-instagram fa-2x"
                    style="color: #a99ae0"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="justify-content-md-center">
          <div class="card cardBorderCorners darkCard">
            <div class="card-body">
              <img
                class="proPic proDark card-img rounded-circle"
                src="../static/images/teammember-3.jpg"
                alt="Profile Pic"
              />
              <div class="about-team-member">
                <h5 class="darkTitle card-title">Thadikaluru Ushaswini</h5>
                <h6 class="darkSubTitle card-subtitle">Final Year CSE</h6>
              </div>
              <p class="darkMail card-text">
                <span class="darkMailText rounded"
                  >tushaswini323@gmail.com</span
                >
              </p>
            </div>

            <div class="social">
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <i class="fa fa-github fa-2x" style="color: #a99ae0"></i>
                </div>
                <div class="col-sm-4 col-md-4">
                  <a
                    href="https://www.linkedin.com/in/thadikaluru-ushaswini-4bb171248/"
                  >
                    <i
                      class="col fa fa-linkedin fa-2x"
                      style="color: #a99ae0"
                    ></i>
                  </a>
                </div>
                <div class="col-sm-4 col-md-4">
                  <i
                    class="col fa fa-instagram fa-2x"
                    style="color: #a99ae0"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
